:root {
    --main-blue: #152237;
    --main-green: #44DD8A;
    --white: #FFFFFF;
    --second-blue: #15B7E2;
}

*{
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: var(--main-blue);
    width: 1680px;
    height: 80px;
}

nav img {
    width: 84px;
    height: 31px;
    padding-top: 10px;
    padding-left: 98px;
}

nav p {
    text-align: center;
    width: 110px;
    height: 18px;
    top: 31px;
    left: 350px;
    size: 15px;
    font-weight: 500;
}