:root {
    --main-blue: #152237;
    --main-green: rgb(68, 221, 138);
    --white: #FFFFFF;
    --second-blue: rgb(21, 183, 226);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* --- Navigation --- */
nav {
    background-color: var(--main-blue);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

/* --- Logo  --- */
nav img {
    width: 84px; 
    height: 31px;
    position: relative;
    left: 6%;
}

/* --- Les Formations --- */
nav .formation {
    position: relative;
    left: 14.8%;
    color: var(--white);
    letter-spacing: -0.015em;
    font-size: 15px;
    font-weight: 500;
}

/* --- Barre de Recherche --- */
.search {
    position: relative;
    left: 25%;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    width: 28.4%;
    padding: 0 10px;
}

.search p {
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    margin-left: 0; 
    width: auto;
    flex-grow: 1;
}

.search i {
    color: var(--white);
    margin-left: 10px; 
}

/* --- Boutons --- */
.connexion, .inscription {
    position: relative;
    left: 39%;

    width: 130px;
    height: 40px;
    border-radius: 6px;

    font-weight: 500; 
    font-size: 15px;
    letter-spacing: -0.015em;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
}

.connexion {
    background-color: var(--white);
}

.inscription {
    left: 40%;
    background: linear-gradient(to right, var(--main-green), var(--second-blue));
}

/* ------------------------------ */
/* ---------- HERO -------------- */
/* ------------------------------ */

.hero {
    height: 450px;
    background-image: linear-gradient(to right, rgba(68, 221, 138, 0.8), rgba(21, 183, 226, 0.8)), url('img/bg-header.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 150px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.015em;
}

.hero h2 {
    position: absolute;
    top: 220px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.015em;

}
/* --- Bouton En Savoir Plus --- */
.hero .btn-en-savoir {
    position: absolute;
    top: 58%;
    height: 8.9%;
    width: 7.8%;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn-en-savoir p {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
}


/* ---------------------------------------------- */
/* ---------- FORMULAIRE POPULAIRE -------------- */
/* ---------------------------------------------- */ 

.form-populaire {
    height: 632px;
    background-color: #FFFFFF;
    position: relative;
}

.form-populaire h2 {
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.015em;
}

.cards {
    position: absolute;
    top: 21.5%;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards .card {
    position: relative;
    width: 100%;
}

/* --- Formation Card Prix --- */

.cards .price {
    position: absolute;
    top: 47.3%;
    display: flex;
    align-items: center;
    right: 0;
    background-color: var(--main-blue);
    border-radius: 93px;
    padding: 8px 12px;
    color: white;
    gap: 5px;
    box-shadow: 5px 4px 13.2px #1522375a;
}

.price .promo {
    font-size: 20px;
    font-weight: 800;
} 

.price .real {
    text-decoration: line-through;
    font-size: 10px;
    font-weight: 400;
}

.text {
    color: var(--main-blue);
    margin: 20px;
}

.text h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
    padding-bottom: 10px;

}

.text .coach {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.fa-star {
    color: #FFC700;
    height: 20px;
    padding-bottom: 10px;
}

span .fa-star {
    color: #FFC7004D;
    height: 20px;
}

.btn-formation {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 13.4%;
    background-color: var(--main-blue);
    color: #FFFFFF;
    border-radius: 6px;
}

/* --- Formations recentes --- */

.form-recente {
    height: 632px;
    background-color: var(--main-blue);
    position: relative;
    
}


.form-recente h2 {
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translateX(-50%);


    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.form-recente .text {
    color: #FFFFFF;
}

.form-recente .price {
    color: var(--main-blue);
    background-color: #FFFFFF;
}

.form-recente .btn-formation {
    color: var(--main-blue);
    background-color: #FFFFFF;
}
/* -------------------------- */
/* ------ AVIS CLIENTS ------ */
/* -------------------------- */

.avis {
    height: 597px;
    background-color: #FFFFFF;
}

.avis-client {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    font-size: 40px;
    letter-spacing: -0.015em;
}