:root {
    --main-blue: #152237;
    --main-green: rgb(68, 221, 138);
    --white: #FFFFFF;
    --second-blue: rgb(21, 183, 226);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* --- Navigation --- */
nav {
    background-color: var(--main-blue);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}

/* --- Logo  --- */
nav img {
    width: 84px; 
    height: 31px;
}

/* --- Les Formations --- */
nav .formation {
    color: var(--white);
    letter-spacing: -0.015em;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

/* --- Barre de Recherche --- */
.search {
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    width: 28.4%;
    padding: 0 10px;
}

.search p {
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    margin: 0; 
    text-align: left;
    flex-grow: 1;
}

.search i {
    color: var(--white);
    margin-left: 10px; 
}

/* --- Boutons --- */

nav .btn {
    display: flex;
    align-items: center;
    gap: 15px;
}


.connexion, .inscription {
    width: 130px;
    height: 40px;
    border-radius: 6px;

    font-weight: 500; 
    font-size: 15px;
    letter-spacing: -0.015em;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
    cursor: pointer;
}

.connexion {
    background-color: var(--white);
}

.inscription {
    background: linear-gradient(to right, var(--main-green), var(--second-blue));
}

.toggle_btn {
    display: none;
    color: var(--white);
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    nav {
        padding: 0 20px;
    }

    .toggle_btn {
        display: block;
    }

    .formation,
    .search,
    .connexion,
    .inscription {
        display: none;
    }
}

/* ------------------------------ */
/* ---------- HERO -------------- */
/* ------------------------------ */

.hero {
    height: 450px;
    background-image: linear-gradient(to right, rgba(68, 221, 138, 0.8), rgba(21, 183, 226, 0.8)), url('img/bg-header.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #152237;
}

.hero h2 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #152237;
}
/* --- Bouton En Savoir Plus --- */
.hero .btn-en-savoir {
    height: 8.9%;
    width: 8rem;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn-en-savoir p {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
}


/* ----------------------------------------- */
/* ---------- CARDS FORMATIONS -------------- */
/* ------------------------------------------ */


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 20px;
}

.cards .card {
    width: 305px;
    position: relative;
}

.cards, .form-populaire h2, .form-recente h2 {
    max-width: 1450px; 
}

/* --- Formation Card Prix --- */

.cards .price {
    position: absolute;
    top: 180px;
    display: flex;
    align-items: center;
    right: 0;
    background-color: var(--main-blue);
    border-radius: 93px;
    padding: 8px 12px;
    color: white;
    gap: 5px;
    box-shadow: 5px 4px 13.2px #1522375a;
}

.price .promo {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
} 

.price .real {
    text-decoration: line-through;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.text {
    color: var(--main-blue);
    padding: 20px;
}

.text h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.text .coach {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.fa-star {
    color: #FFC700;
    height: 20px;
    padding-bottom: 10px;
}

span .fa-star {
    color: #FFC7004D;
    height: 20px;
}

.btn-formation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 200px;
    height: 40px;
    border-radius: 6px;
    margin: 50px auto;
}

/* ---------------------------------------------- */
/* ---------- FORMULAIRE POPULAIRE -------------- */
/* ---------------------------------------------- */


.form-populaire, 
.form-recente {
    padding: 60px 0; /* Espacement propre haut/bas pour la section */
    width: 100%;
}


.form-populaire h2,
.form-recente h2 {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.015em;
    
    width: 100%;
    max-width: 1450px; 
    margin: 0 auto 40px auto;
    text-align: left;
    padding: 0 20px;
}

.form-populaire .btn-formation {
    background-color: #152237;
    color: white;
}

/* --- Formations recentes --- */

.form-recente {
    background-color: var(--main-blue);
}

.form-recente h2 {
    color: var(--white);
}

.form-recente .text {
    color: #FFFFFF;
}

.form-recente .price {
    color: var(--main-blue);
    background-color: #FFFFFF;
}

.form-recente .btn-formation {
    color: var(--main-blue);
    background-color: #FFFFFF;
}

@media screen and (max-width: 900px) {

    .form-populaire {
        padding: 1rem;
    }
    .form-populaire h2 {
        padding-left: 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    .form-recente {
        padding: 1rem;
    }
    .form-recente h2 {
        padding-left: 0;
        display: block;
        text-align: center;
        width: 100%;
    }
}

/* -------------------------- */
/* ------ AVIS CLIENTS ------ */
/* -------------------------- */

.avis {
    height: auto;
    background-color: #ffffff;
}

.avis-client h2 {
    display: flex;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -0.015em;
    justify-content: center;
    padding: 4rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.customers img {
    border-radius: 50%;
    width: 139px;
}

.customers h3 {
    padding: 2px 0px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
    font-family: 'Montserrat', sans-serif;
}

.customers p {
    font-weight: 400;
    font-size: 16px;
    word-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.customers .fa-star {
    color: #FFC700;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.customer {
    width: 41%;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1100px){
    .avis-client {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: contents;
        padding: 0;
    }

    .customers {
        display: flex;
        justify-content: center;
        padding: auto;
        flex-direction: column;
    }


    .customer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .customer .text p{
        width: 100%;
        justify-self: center;
        justify-content: center;
    }
    
}

/* ---------------------------------------------- */
/* ------------------ AVANTAGES ----------------- */
/* ---------------------------------------------- */

.avantages {
    height: auto;
    background-color: #F5F5F5;
    width: 100%;
    flex-wrap: wrap;
}

.avantages h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.015em;
    text-align: start;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;

}

.avantages img {
    padding-left: 8rem;
}

.container-avantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 3.75rem;
    gap: 2rem;
    overflow-x: hidden;
}

.container-avantages ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 1.5rem;
}

.container-avantages li {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    color: var(--main-blue);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.015rem;
}

/* ::before va creer un "faux élément" enfant qui se place juste avt le contenu réél de l'élém parent  */

.li-1::before, .li-2::before, .li-3::before, 
.li-4::before, .li-5::before, .li-6::before {
    content: '';
    display: block;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.li-1::before { background-image: url(img/arrow.svg);}
.li-2::before { background-image: url(img/edit.svg);}
.li-3::before { background-image: url(img/download.svg);}
.li-4::before { background-image: url(img/star.svg);}
.li-5::before { background-image: url(img/clock.svg);}
.li-6::before { background-image: url(img/annotation.svg)}


@media screen and (max-width: 1100px) {
    
    .container-avantages {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding: 0rem;
    }

    .avantages img {
        padding-left: 0rem;
        margin-top: 2rem;
        width: 80%;
        height: auto;
        padding-bottom: 3rem;

    }

    .container-avantages h2 {
        padding: 2rem;
        text-align: center;
    }

    .container-avantages ul {
        padding: 2rem;
    }

    .container-avantages li {

        font-weight: 200;
        font-size: 20px;
        line-height: 28px;
        gap: 2rem;

        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    
}

/* -------------------------------------------------------- */
/* ------------------ AVANTAGES FROMATION ----------------- */
/* -------------------------------------------------------- */
 
.section-adv-f {
    background-color: var(--main-green);
    width: auto;
    height: auto;
}

.adv-f-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 3.75rem;
    gap: 2rem;
    overflow-x: hidden;
}

.adv-f-img {
    flex: 1;
    width: 100%;
}

.adv-f-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.adv-f-content h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 4rem;
    color: var(--main-blue);
    line-height: 36px;
    letter-spacing: -0.015rem;
    font-family: 'Montserrat', sans-serif;
}

.adv-f-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 1.5rem;
}

.adv-f-content li {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    color: var(--main-blue);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.015rem;
}

.li-7::before, .li-8::before, .li-9::before, 
.li-10::before, .li-11::before {
    content: '';
    display: block;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avc-klivio {
    font-family: 'Montserrat', sans-serif;
}

.li-7::before { background-image: url(img/coin-hand.svg)}
.li-8::before { background-image: url(img/heart.svg)}
.li-9::before { background-image: url(img/pencil.svg)}
.li-10::before { background-image: url(img/settings.svg)}
.li-11::before { background-image: url(img/user-profile.svg)}

@media screen and (max-width: 1000px){
    .adv-f-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .adv-f-content {
        display: contents;
        text-align: start;
    }

    .adv-f-img {
        order: 2;
        justify-content: center;
        align-items: center;
        max-width: 80%;
    }
    
    .adv-f-content h2 {
        order: 1;
        text-align: center;
        margin-bottom: 0rem;
        margin-top: 2rem;
        padding: 0 1rem;
        font-weight: 1200;
    }

    .adv-f-content ul {
        order: 3;
        padding: 2rem;
    }

    .adv-f-content li {
        font-size: 20px;
        line-height: 28px;
        gap: 2rem;

        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .avc-klivio {
        display: none;
    }
}

/* ---------------------------------------------- */
/* ------------------ A PROPOS ------------------ */
/* ---------------------------------------------- */

.section-propos {
    height: auto;
    background-color: #F5F5F5;
}

.container-propos {
    display: flex;
}

.text-propos {
    padding: 11rem 6rem;
    width: 50%;
}

.text-propos h2 {
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -0.015rem;
    line-height: 36px;
    color: var(--main-blue);
    font-family: 'Montserrat', sans-serif;
}

.text-propos p {
    font-size: 18px;
    font-weight: 400px;
    line-height: 28px;
    letter-spacing: -0.015;
    font-family: 'Montserrat', sans-serif;
}

.img-propos {
    background-color: #152237;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-propos img {
    width: 400px;
}

@media screen and (max-width: 900px) {
    .container-propos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text-propos {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .text-propos h2 {
        justify-content: center;
        text-align: center;
        padding: 3rem 3rem 0 3rem;
    }

    .text-propos p {
        display: flex;
        padding: 3rem 1rem;
        justify-content: center;
    }

    .img-propos {
        width: 100%;
    }

    .img-propos img {
        padding: 10rem 0;
    }

}

/* -------------------------------------------- */
/* ------------------ CONTACT ----------------- */
/* -------------------------------------------- */


.container-contact {
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

.container-contact h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: flex;
    padding: 2rem;
    font-weight: 900;
    font-size: 40px;
    line-height: 18px;
}

.border-contact {
    border-bottom: solid 1px var(--main-green);
    width: 20%;
    margin-bottom: 3rem;
}

.inputs-contact {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

.flex-input-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
}

.flex-input-contact input {
    width: 100%;
    padding: 1rem;
    background-color: var(--main-blue);
    border: none;
    color: var(--white);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.textarea-contact {
    width: 100%;
}

.message-area {
    width: 100%;
    height: 12rem;
    background-color: var(--main-blue);
    color: var(--white);
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    text-align: right;
}

.flex-input-contact input::placeholder,
.message-area::placeholder {
    color: var(--white);
    opacity: 1;
    text-align: left;
}

.message-area::placeholder {
    padding: 1rem;
}

.btn-contact {
    display: flex;
    padding: 1rem;
    background-color: var(--main-green);
    border: none;
    width: 300px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;

    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015rem;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1100px) {
    .inputs-contact {
        margin: 0 auto;
    }

    .flex-input-contact {
        flex-direction: column;
        width: 90%;
    }

    .textarea-contact {
        width: 94%;
    }

    .border-contact {
        display: none;
    }

    .container-contact h2 {
        font-size: 30px;
    }
}

.footer {
    background-color: var(--main-blue);
    height: auto;
    padding: 6rem;
}

.border-footer {
    display: block;
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, var(--main-green), var(--second-blue));
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-footer {
    width: 15rem;
    height: 5rem;
}

.listes-footer {
    display: flex;
    flex-direction: row;
    gap: 9rem;
    color: var(--white);
}

.listes-footer h3 {
    padding-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015rem;
}


.listes-footer li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015rem;

    display: flex;
    gap: 18px;
}

.li-12::before, .li-13::before, .li-14::before {
    content: '';
    display: block;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.li-12::before { background-image: url(img/position.svg);}
.li-13::before { background-image: url(img/tel.svg);}
.li-14::before { background-image: url(img/mail.svg);}

.btn-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    border: none;
}

.border-green-footer{
    display: flex;
    height: 1px;
    background-color: var(--main-green);
    margin: 1rem auto;
}



.end-footer {
    display: flex;
    flex-direction: row;
    color: var(--white);
    justify-content: space-between;
}

.social {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}




@media screen and (max-width: 900px) {

    .footer {
        padding: 40px 20px;
        height: auto;
    }

    .container-footer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .listes-footer {
        flex-direction: column;
        gap: 50px; 
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .listes-footer h3 {
        padding-bottom: 1rem;
    }

    .listes-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        padding: 0; 
    }
    
    .btn-footer, 
    .border-green-footer, 
    .end-footer,
    .border-footer {
        display: none;
    }
}