:root {
    --main-blue: #152237;
    --main-green: rgb(68, 221, 138);
    --white: #FFFFFF;
    --second-blue: rgb(21, 183, 226);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* --- Navigation --- */
nav {
    background-color: var(--main-blue);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}

/* --- Logo  --- */
nav img {
    width: 84px; 
    height: 31px;
    left: 6%;
}

/* --- Les Formations --- */
nav .formation {
    color: var(--white);
    letter-spacing: -0.015em;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

/* --- Barre de Recherche --- */
.search {
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 40px;
    width: 28.4%;
    padding: 0 10px;
}

.search p {
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    margin-left: 0; 
    width: auto;
    flex-grow: 1;
}

.search i {
    color: var(--white);
    margin-left: 10px; 
}

/* --- Boutons --- */

nav .btn {
    display: flex;
    align-items: center;
    gap: 15px;
}


.connexion, .inscription {
    width: 130px;
    height: 40px;
    border-radius: 6px;

    font-weight: 500; 
    font-size: 15px;
    letter-spacing: -0.015em;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
}

.connexion {
    background-color: var(--white);
}

.inscription {
    background: linear-gradient(to right, var(--main-green), var(--second-blue));
}

.toggle_btn {
    display: none;
    color: var(--white);
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    nav {
        padding: 0 20px;
    }

    .toggle_btn {
        display: block;
    }

    .formation,
    .search,
    .connexion,
    .inscription {
        display: none;
    }
}

/* ------------------------------ */
/* ---------- HERO -------------- */
/* ------------------------------ */

.hero {
    height: 450px;
    background-image: linear-gradient(to right, rgba(68, 221, 138, 0.8), rgba(21, 183, 226, 0.8)), url('img/bg-header.png');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 20px;
}

.hero h1 {
    top: 150px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #152237;
}

.hero h2 {
    top: 220px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #152237;

}
/* --- Bouton En Savoir Plus --- */
.hero .btn-en-savoir {
    top: 58%;
    height: 8.9%;
    width: 8rem;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn-en-savoir p {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
}


/* ----------------------------------------- */
/* ---------- CARDS FORMATIONS -------------- */
/* ------------------------------------------ */


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
}

.cards .card {
    width: 305px;
    height: auto;
    position: relative;
}

/* --- Formation Card Prix --- */

.cards .price {
    position: absolute;
    top: 180px;
    display: flex;
    align-items: center;
    right: 0;
    background-color: var(--main-blue);
    border-radius: 93px;
    padding: 8px 12px;
    color: white;
    gap: 5px;
    box-shadow: 5px 4px 13.2px #1522375a;
}

.price .promo {
    font-size: 20px;
    font-weight: 800;
} 

.price .real {
    text-decoration: line-through;
    font-size: 10px;
    font-weight: 400;
}

.text {
    color: var(--main-blue);
    padding: 20px;
}

.text h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
    padding-bottom: 10px;

}

.text .coach {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.fa-star {
    color: #FFC700;
    height: 20px;
    padding-bottom: 10px;
}

span .fa-star {
    color: #FFC7004D;
    height: 20px;
}

.btn-formation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 200px;
    height: 40px;
    border-radius: 6px;
    margin: 50px auto;
}

/* ---------------------------------------------- */
/* ---------- FORMULAIRE POPULAIRE -------------- */
/* ---------------------------------------------- */

.form-populaire {
    height: 69rem;
    margin-top: auto;
    background-color: #FFFFFF;
}

.form-populaire h2 {
    padding-top: 30px;
    text-align: left;
    padding-left: 165px;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.015em;
}

.form-populaire .btn-formation {
    background-color: #152237;
    color: white;
}

/* --- Formations recentes --- */

.form-recente {
    height: 69rem;
    margin-top: auto;
    background-color: var(--main-blue);
}

.form-recente h2 {
    padding-top: 30px;
    text-align: left;
    padding-left: 165px;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: -0.015em;
    color: var(--white);
}

.form-recente .text {
    color: #FFFFFF;
}

.form-recente .price {
    color: var(--main-blue);
    background-color: #FFFFFF;
}

.form-recente .btn-formation {
    color: var(--main-blue);
    background-color: #FFFFFF;
}

/* -------------------------- */
/* ------ AVIS CLIENTS ------ */
/* -------------------------- */

.avis {
    height: auto;
    background-color: #ffffff;
}

.avis-client h2 {
    display: flex;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -0.015em;
    justify-content: center;
    padding-top: 4rem;
    text-transform: uppercase;
}
.customers .text {
    
}

.customers {
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 9.3rem;
}

.customers img {
    border-radius: 50%;
    width: 139px;
}

.customers h3 {
    padding: 2px 0px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.015em;
}

.customers p {
    font-weight: 400;
    font-size: 16px;
}

.customers .fa-star {
    color: #FFC700;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.customer {
    width: 41%;
}