:root {
    --main-blue: #152237;
    --main-green: #44DD8A;
    --white: #FFFFFF;
    --second-blue: #15B7E2;
}

*{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: var(--main-blue);
    height: 80px;
    display: flex;
    align-items: center;
}

nav img {
    width: 84px;
    height: 31px;
    margin-left: 98px;
}

nav .formation {
    color: #FFFFFF;
    margin-left: 168px;
    letter-spacing: -1.5%;
    font-size: 15px;
    font-weight: 500;
}

.search {
    margin-left: 342px;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 40px;
}

.search p {
    margin-left: 342;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -1.5%;
    width: auto;
}

.search i {
    color: white;
    width: auto;
    height: auto;
}


.inscription {
    background: linear-gradient(to right, var(--main-green), var(--second-blue));
    width: 130px;
    height: 40px;
    border-radius: 6px;
    align-items: center;
    color: var(--main-blue);
}